body {
    width: 100;
    height: 100;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

p {
    display: inner-flex;
    margin: auto 10px;
    font-size: 22px;
    color: yellowgreen;
    border-radius: 6px;
    border: 1px solid lightblue;
    padding: 10px;
}